files:
  /etc/security/limits.d/100user-limits.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
        * -    nofile  10240
        * -    nproc   8192
        * -    core    unlimited
        * -    memlock 40000

  /etc/cron.hourly/cron.logcleanup.elasticbeanstalk.healthd.nginx.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      find /var/log/nginx/healthd -type f | grep -v application.log.`date -u +"%Y-%m-%d-%H"` | xargs rm -f

  /usr/local/bin/setup-healthd-appstat.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/sh
      set -e
      mkdir -p /var/log/nginx/healthd
      chmod 777 /var/log/nginx/healthd
