files:
  /usr/local/bin/put_docker_memory.sh:
    owner: root
    group: root
    mode: "000755"
    content: |
      #!/bin/bash
      export ID=`curl http://169.254.169.254/latest/meta-data/instance-id`;
      export ASG=$( aws ec2 describe-tags --filters Name=resource-type,Values=instance,Name=resource-id,Values=$ID --query 'Tags[?Key==`aws:autoscaling:groupName`].Value' --output text )

      temp_f=`mktemp`;
      temp_m=`mktemp`;
      for dockerName in `jq -r '.containerDefinitions[].name' /var/app/current/Dockerrun.aws.json`; do
        dockerID=`docker ps --filter "name=$dockerName" --format "{{.ID}}"`
        dockerImage=`docker inspect --format '{{.Config.Image}}' "$dockerID"`
        dockerPID=`docker inspect --format '{{.State.Pid}}' "$dockerID"`
        dockerMemoryVSZ=`ps ax -o "pid,vsz" |grep  $dockerPID |awk '{print $2}'`
        dockerMemoryRSS=`ps ax -o "pid,rss" |grep  $dockerPID |awk '{print $2}'`
        echo \{ \"Container\": \""$dockerName"\", \"Name\": \"VirtualMemory\", \"Value\": \""$dockerMemoryVSZ"\" } { \"Container\": \""$dockerName"\", \"Name\":  \"ResidentMemory\",  \"Value\":  \""$dockerMemoryRSS"\" \} >> $temp_m
      done
      cat $temp_m | jq --slurp -f  /usr/local/etc/metric.jq > $temp_f
      aws cloudwatch put-metric-data --cli-input-json file://$temp_f
      rm $temp_f $temp_m


  /usr/local/etc/metric.jq:
    owner: root
    group: root
    mode: "000644"
    content: |
      {
        "Namespace": "System/Linux",
        "MetricData": [ .[]|
            {
                "MetricName": .Name,
                "Dimensions": [
                    {
                        "Name": "InstanceId",
                        "Value": env.ID
                    },
                    {
                        "Name": "Container",
                        "Value": .Container
                    }
                ],
                "Value": .Value|tonumber,
                "Unit": "Kilobytes"
            },{
                "MetricName": .Name,
                "Dimensions": [
                    {
                       "Name": "AutoScalingGroupName",
                       "Value": env.ASG
                    }
                ],
                "Value": .Value|tonumber,
                "Unit": "Kilobytes"
            }
         ]
      }

  /etc/cron.d/report_docker_mem:
    owner: root
    group: root
    mode: "000644"
    content: |
      SHELL=/bin/bash
      PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin:/usr/local/bin
      MAILTO=""
      HOME=/root
      * * * * * root /usr/local/bin/put_docker_memory.sh

commands:
  remove_cron_bak:
    command: rm -f /etc/cron.d/*.bak
